@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "Ubuntu", sans-serif;
}

.navCont{
    display: flex;
    justify-content: space-between;
    
}

.navbar{
    width: 100%;
    background: #014F98;
}

.der{
    display: flex;
}
.izq{
    display: flex;
    align-items: center;

    h5{
        margin-right: 15px;
    }
}


a{
    text-decoration: none !important;
}

.logoNav{
    color: white;
    border-radius: 25px;
    border-right: 2px solid white;
}

.dropNav{
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border-color: white !important;
}

.dropdown-toggle::after {
    color: white !important;
}

.form-control{
    border-radius: 30px;
    color: white !important;
    font-weight: 600;
    padding: 10px;
    border: 0px solid #BCF0FB !important;
    border-bottom: 2px solid white !important;
    background-color: #014F98 !important;
}

.form-control::placeholder{
    color: white;
}

  
.itemNavbar {
    display: block;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    width: 100.5%;
}

.itemNavbar span {
    position: relative;
    z-index: 2;
}

.itemNavbar:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #F23A2F;
    transition: all .35s;
}

.itemNavbar:hover {
    color: #fff;
}

.itemNavbar:hover:after {
    width: 100%;
}

span {
    color: white;
}

.descripciones{
    height: 35vh;
    justify-content: center;
}

.descripciones .col-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descripciones .col-2 h5{
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
}

.descripciones .col-2 p{
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
}

.descripciones img{
    height: 12vh;
}

.main{
    width: 100vw;
}

::placeholder {
    color: rgba(255, 255, 255, 0.83) !important;
}
  