{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/styleBase.css">
    {% block css %}

    {% endblock %}
    <title>Ferremax</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid navCont">
            <div class="izq">
                <h1 class="logoNav ps-4 pe-4 pt-1 pb-1 m-1">FERREMAX</h1>
                <h5 class="ms-4 navItem"> <a class="nav-link" href="{% url 'landing' %}">Inicio</a></h5>
                <h5 class="ms-4 navItem"> <a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a></h5>
                  <!--  (Javier) Voy a dejar estas categorias como comentarios de momento 
                  <h5 class="navItem">Quienes somos</h5>
                  <h5 class="navItem">Contactanos</h5>
                  -->
                  <!-- funcionalidades dependientes del tipo de usuario -->
                  {% if user.is_staff %}
                  <h5 class="ms-4 navItem"> <a class="nav-link" href="{% url 'agregar' %}">Agregar producto</a></h5>
                  <h5 class="ms-4 navItem"> <a class="nav-link" href="">Generar informes</a></h5>
                  {% endif %}
                  {% if grupo == 'vendedor' %}
                  <h5 class="ms-4 navItem"> <a class="nav-link" href="">Gestionar ventas</a></h5>
                  {% endif %}
                  {% if grupo == 'bodeguero' %}
                  <h5 class="ms-4 navItem"> <a class="nav-link" href="">Inventario</a></h5>
                  <h5 class="ms-4 navItem"> <a class="nav-link" href="">Preparar de pedidos</a></h5>
                  {% endif %}
                  {% if grupo == 'contador' %}
                  <h5 class="ms-4 navItem"> <a class="nav-link" href="">Finanzas</a></h5>
                  {% endif %}

            </div>
            <div class="der">
                <div class="dropNav p-1 ps-2 pe-2 m-1"><!-- SEARCH -->
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                        <button class="btn bi bi-search" type="submit" style="color: #014F98"></button>
                    </form>
                </div>
                <div class="dropNav p-1 m-1"><!-- USER -->
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill" style="color: #014F98"></i>
                        </button>
                        <ul class="dropdown-menu">
                          {% if user.is_authenticated %}
                          <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                          {% else %}
                          <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                          {% endif %}
                        </ul>
                      </div>
                </div>
                <div class="dropNav p-1 m-1"> <!-- CART -->
                    <div class="dropdown me-5">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-cart-fill" style="color: #014F98"></i>
                            <span class="" id="cartNumber" style="color: #014F98">0</span> <!-- Numero carrito -->
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">COMPRAR</a></li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        
        <div class="row main">

            {%block container%}

            {%endblock%}

        </div>  
    </div>

    <!-- FOOTER -->
    <footer class="text-center text-white mt-3" style="background-color: #f1f1f1;"> 
        <div class="container pt-4">
          <section class="mb-4">
            <a class="btn btn-link btn-floating btn-lg text-primary m-1" href="#!" role="button" data-mdb-ripple-color="dark"> 
              <i class="bi bi-facebook"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-primary m-1" href="#!" role="button" data-mdb-ripple-color="dark"> 
              <i class="bi bi-instagram"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-primary m-1" href="#!" role="button" data-mdb-ripple-color="dark">
              <i class="bi bi-tiktok"></i></a>
          </section>
        </div>
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2024 Copyright:
          <a class="text-dark" href="#">Ferremax.com</a>
        </div>
      </footer>
    <script src="{% static '/JS/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>