{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="/static/CSS/styleLanding.css">
{% endblock %}

{% block container %}

<!-- CAROUSEL PENDIENTE -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    </div>
    
    <div class="carousel-inner">
        
    </div>
  
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
  
  
  <div class="container">

    <!-- LISTADO DE TODOS LOS PRODUCTOS -->
    <div class="row">
      {% for producto in productos %}
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="{{ producto.imagen_producto_set.first.imagen_producto.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre_producto }}</h5>
            <p class="card-text">
              Categoría: {{ producto.id_categoria.nombre_categoria  }}
              <br>
              {{ producto.descripcion }}.</p>
            <a href="#" class="btn btn-primary">Ver detalle</a>
          </div>
        </div>
      </div>
      

      {% endfor %}
  </div>
  
  
    

{% endblock %}