{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="/static/CSS/styleQuienesContacto.css">
{% endblock %}

{% block container %}

    <div class="row quienesSomos">

        <div class="col-12 imgLogo">
            <div class="row">
                <div class="col-7 logo ">
                    <img src="../static/IMG/Logoblanco.png"  class="fade-in-left">
                    <h5 class="ms-5 me-5 text-white">Ferremas fue fundada en la década de los 80 en Santiago como una pequeña empresa familiar dedicada al comercio de materiales de construcción. Inicialmente enfocada en la importación y distribución de herramientas manuales y materiales básicos, Ferremas se expandió gradualmente, abriendo su primera sucursal en la capital y extendiéndose a otras áreas de la Región Metropolitana y regiones del país. Gracias a su compromiso con la calidad y la variedad de productos, se ha convertido en una distribuidora líder en el sector de la construcción y la ferretería en Chile.</h5>
                </div>
                <div class="col-5 d-flex align-items-center text-center justify-content-center">
                    <div class="row ">
                        <div class="col-5 items">
                            <i class="bi bi-eye"></i>
                            <h4>Vision</h4>
                            <h5>Líder en ferretería</h5>
                        </div>
                        <div class="col-5 items">
                            <i class="bi bi-award"></i>
                            <h4>Objetivo</h4>
                            <h5>Satisfacción del cliente</h5>
                        </div>
                        <div class="col-5 items">
                            <i class="bi bi-briefcase-fill"></i>
                            <h4>Mision</h4>
                            <h5>Soluciones de calidad</h5>
                        </div>
                        <div class="col-5 items">
                            <i class="bi bi-bookmark-star"></i>
                            <h4>Valores</h4>
                            <h5>Calidad, Innovación y Servicio</h5>
                        </div>
                    </div>          
                </div>
            </div>
        </div>


{% endblock %}